/*
    ================================
    CSS RESET
    ================================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    ================================
    ROOT 
    ================================
*/

:root {
    --bg-body: #F8F9FA;
    --color-body: #4b5563;
    --bg-card: #ffffff;
    --color-title: #1a1a1b;
    --color-bord-card: #e0e0e0;
    --color-user-name: #1a1a1b;
    --color-user-role: #6b7280;
    --color-user-email: #2563eb;
    --input-border-color: #d1d5db;
    --bg-input: #fff;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-body);
    color: var(--color-body);
}

h1,
h2 {
    color: var(--color-title);
}

/*
    ================================
    HEADER
    ================================
*/

.header-title {
    margin: 20px;
    flex: 1;
}

/*
    ================================
    MAIN
    ================================
*/

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    margin: 20px;
}

/*
    ================================
    CARD
    ================================
*/

.container-cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    flex-basis: calc((100% / 3) - (10px * 2) / 3);
    background-color: var(--bg-card);
    border: 1px solid var(--color-bord-card);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    flex-wrap: wrap;
}

.img-card {
    display: block;
    max-width: 150px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 50px;
    padding-left: 10px;
}

.user-name {
    color: var(--color-user-name);
}

.user-role {
    color: var(--color-user-role);
}

.user-email {
    color: var(--color-user-email);
    text-decoration: none;
}

/*
    ================================
    FOOTER
    ================================
*/

.footer {
    flex: 1;
}

.work-with-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.header-work-whit-us {
    text-align: center;
    margin: 20px;
}

#form-work-whit-us {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#form-work-whit-us input {
    border: 1px solid var(--input-border-color);
    background-color: var(--bg-input);
    padding: 8px;
}

#form-work-whit-us label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-family: sans-serif;
    font-weight: 600;
    color: #1a1a1b;
}

.btn-form {
    align-self: flex-end;
    padding: 12px 25px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 37px;
}

.btn-form:hover {
    background-color: #1d4ed8;
}