/*
    ================================
    CSS RESET
    ================================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    ================================
    ROOT 
    ================================
*/

:root {
    --bg-body: #F8F9FA;
    --bg-card: #ffffff;
    --color-title: #1a1a1b;
    --color-bord-card: #e0e0e0;
    --color-user-name: #1a1a1b;
    --color-user-role: #6b7280;
    --color-user-email: #2563eb;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-body);
    color: ;
}

h1,
h2 {
    color: var(--color-title);
}

/*
    ================================
    HEADER
    ================================
*/

.header-title {
    margin: 20px;
    flex: 1;
}

/*
    ================================
    MAIN
    ================================
*/

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    margin: 20px;
}

/*
    ================================
    CARD
    ================================
*/

.container-cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    flex-basis: calc((100% / 3) - (10px * 2) / 3);
    background-color: var(--bg-card);
    border: 1px solid var(--color-bord-card);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.img-card {
    display: block;
    max-width: 150px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 50px;
    padding-left: 10px;
}

.user-name {
    color: var(--color-user-name);
}

.user-role {
    color: var(--color-user-role);
}

.user-email {
    color: var(--color-user-email);
    text-decoration: none;
}

/*
    ================================
    FOOTER
    ================================
*/

.footer {
    flex: 1;
}

.work-with-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.header-work-whit-us {
    text-align: center;
    margin: 20px;
}